@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*, *::after, *::before{
  box-sizing: border-box;
}
body{
  background-color: hsl(204, 27%, 63%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}
h4{
  color: rgb(255, 247, 247);
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}
.game-board{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.2em;
}
.hints{
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  width: 40%;
  padding-right: 2em;
  /* margin-left: 2.5em; */
}
.hints p{
  margin: 0;
  padding: 0;
  margin-bottom: 0.8em;
  font-family: cursive;
  text-decoration: underline;
}
.hint{
  height: 3.1em;
  margin-bottom: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-grow: 1;
  background-color: rgb(122, 124, 127);
  user-select: none;
  text-align: center;
}

.hint.dance{
  animation: dance 200ms ease-in-out;
}
.hint.fadeIn{
  transition: ease-in-out 3s;
}
@keyframes dance {
  20%{
      transform: translateY(-20%);
  }
  40%{
      transform: translateY(5%);
      
  }
  60%{
      transform: translateY(-25%);
      
  }
  80%{
      transform: translateY(2.5%);
      
  }
  90%{
      transform: translateY(-5%);
  }
  100%{
      transform: translateY(0);
  }
}
.result{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center
}
.image{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#pic{
  width: 15em;
  height: 15em;
  border-radius: 15em;
}
.result h5{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  margin-top: 1.5em;
  font-size: 1.1em;
  padding: 0;
}
.submission{
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#guess{
  height: 4.5em;
  border-radius: 0.7em;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5em;
  margin-right: 2em;
  width: 60%;
}
#guess:focus{
  border-width: 3.5px;
  border-color: rgb(38, 144, 38);
}
button{
  height: 4.5em;
  width: 26%;
  border-radius: 0.7em;
  margin-top: 5em;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.alert-container{
  position: fixed;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.alert{
  pointer-events: none;
  background-color: hsl(240, 3%, 7%);
  color: white;
  padding: 0.75em;
  width: 8em;
  text-align: center;
  border-radius: 0.25em;
  opacity: 1;
  transform: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}
.alert:last-child{
  margin-bottom: 0;
}
.alert.hide{
  opacity: 0;
}